#wrapper {
  margin:auto;
  width:1440px;
}
input {
  width:55px;
}
svg {
  margin:5px;
}
#linechart {
  width:800px;
  height:600px;
}

html {
  font-family: 'Trebuchet MS', sans-serif;
}

#play-button {
  background: #f08080;
  padding-right: 26px;
  border-radius: 3px;
  border: none;
  color: white;
  margin: 0;
  padding: 0 12px;
  width: 60px;
  cursor: pointer;
  height: 30px;
}

#play-button:hover {
  background-color: #696969;
}  